Programm/createA/*/saveA/A
Programm/createA/*/saveA/out
Programm/createA/*/saveA/outlog
Programm/createA/*/saveA/*exe
Programm/createA/*/saveA/saveA
Programm/createA/*/saveA/*old*
Programm/createA/*/saveA/*sub



