createA/*/saveA/A
createA/*/saveA/out
createA/*/saveA/outlog
createA/*/saveA/*exe
createA/*/saveA/saveA
createA/*/saveA/*old*
createA/*/saveA/*sub
createA/*/data

fingerprinting/*/image_bearbeitet
fingerprinting/*/*.mat

error_sym_vs_nonsym/*.mat
